<section id="about">
  <div class="container">
    <div class="row gy-4 align-items-start">

      <div class="col-lg-6">


        <h2 class="section-title mb-4 border-bottom border-4 border-info d-inline-block">
          About Me
        </h2>

        <div class="d-flex align-items-center mb-4">
          <div class="text-center me-4">
            <h1 class="display-3 fw-bold text-info mb-0">2+</h1>
            <small class="text-muted">Years</small>
          </div>
          <h5 class="fw-semibold mb-0">
            of Professional Experience
          </h5>
        </div>


        <p class="text-muted-soft mb-4">
          I’m a Data Analyst with hands-on experience in data analysis and business reporting, along with a strong background in Full-Stack Development.
          I have worked with SQL, Advanced Excel, Power BI, and Python to analyze data, build dashboards, automate reports, and generate actionable business insights.
           My development experience also helps me understand data systems and transform operational data into meaningful solutions for better decision-making.
        </p>





        <ul class="list-unstyled text-muted-soft">
          <li class="mb-2 d-flex align-items-center">
            <i class="fa-solid fa-circle-check text-purple me-2"></i>
          SQL, Excel, Power BI & Python
          </li>
          <li class="mb-2 d-flex align-items-center">
            <i class="fa-solid fa-circle-check text-purple me-2"></i>
          Data Analysis & Dashboard Development
          </li>
          <li class="mb-2 d-flex align-items-center">
            <i class="fa-solid fa-circle-check text-purple me-2"></i>
            Full-Stack Development Experience
          </li>
        </ul>
      </div>


      <div class="col-lg-5 offset-lg-1">

        <div class="row g-3 mb-4">
          <div class="col-6">
            <img
              src="assets/about-1.jpg"
              alt="About image 1"
              class="about-img"
            />
          </div>
          <div class="col-6">
            <img
              src="assets/about-2.jpg"
              alt="About image 2"
              class="about-img"
            />
          </div>
        </div>


        <div class="mb-4">
          <h6 class="fw-semibold border-bottom pb-1">
            Happy Clients
          </h6>
          <p class="text-muted-soft small mb-0">
          Experience in developing web applications and working with business and operational data.
          </p>
        </div>


        <div class="mb-4">
          <h6 class="fw-semibold border-bottom pb-1">
            Projects Completed
          </h6>
          <p class="text-muted-soft small mb-0">
            Completed data analysis projects using SQL, Excel, Power BI, and
             Python, with a focus on dashboards, reporting, and actionable business insights.
          </p>
        </div>



      </div>
    </div>
  </div>
</section>
