<section id="projects">
  <div class="container">
    <h2 class="section-title mb-3">Projects</h2>


    <div class="row gy-4">


      <div class="col-md-6 col-lg-4">
        <article class="project-card p-3 d-flex flex-column">
          <img src="assets/erp.png" class="rounded mb-3">
          <h3 class="project-title">Vilcart ERP</h3>
          <p class="project-description">
            ERP system for inventory, billing, purchase workflow & automation.
          </p>
        </article>
      </div>


      <div class="col-md-6 col-lg-4">
        <article class="project-card p-3 d-flex flex-column">
          <img src="assets/vilreport.png" class="rounded mb-3">
          <h3 class="project-title">VilReports</h3>
          <p class="project-description">
            Reporting dashboards with analytics-driven insights.
          </p>
        </article>
      </div>


      <div class="col-md-6 col-lg-4">
        <article class="project-card p-3 d-flex flex-column">
          <img src="assets/crm.png" class="rounded mb-3">
          <h3 class="project-title">Vilcart CRM</h3>
          <p class="project-description">
            CRM tool for customer engagement & lead tracking.
          </p>
        </article>
      </div>

    </div>
  </div>
</section>
