
<app-navbar></app-navbar>

<app-hero></app-hero>

<app-about></app-about>
<app-skills></app-skills>
<app-projects></app-projects>
<app-experience></app-experience>
<app-education></app-education>
<app-contact></app-contact>


<div class="modal fade" id="imageModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background:white; position:relative;">
      <button type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="position:absolute; top:10px; right:10px; z-index:10;">
      </button>

      <img id="modalImage" src="" style="width:100%; border-radius:10px;">
    </div>
  </div>
</div>
