
:root {
  --timeline-line: 35px;
}


.timeline {
  position: relative;
  padding-left: var(--timeline-line);
}

.timeline::before {
  content: "";
  position: absolute;
  left: var(--timeline-line);
  top: 0;
  bottom: 0;
  width: 3px;
background: #c4b5fd;
  border-radius: 3px;
}

.timeline-item {
  position: relative;
  padding: 20px 0;
}


.timeline-item::before {
  content: "";
  position: absolute;
  left: var(--timeline-line);
  top: 20px;
  transform: translate(-50%);
  width: 14px;
  height: 14px;
  background: #7c3aed;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(124, 58, 237, 0.15);
}


.timeline-content {
  margin-left: calc(var(--timeline-line) + 40px) !important;

  padding-left: 10px;
}
